html,body,div,span,object,iframe,h1,p,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,address,cite,code,del,dfn,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,fieldset,form,label,legend,table,caption,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video,img{max-height:99999px;}
.container{max-width:100%;margin:auto;}
.con{width:96%;margin:auto;}
@font-face{font-family:'mobile-iconfont';src:url('../../iconfontv2/mobile-iconfont/iconfont.eot?170331');src:url('../../iconfontv2/mobile-iconfont/iconfont.eot?170331#iefix') format('embedded-opentype'),url('../../iconfontv2/mobile-iconfont/iconfont.woff?170331') format('woff'),url('../../iconfontv2/mobile-iconfont/iconfont.ttf?170331') format('truetype'),url('../../iconfontv2/mobile-iconfont/iconfont.svg?170331#iconfont') format('svg');}
.mobile-iconfont{font-family:"mobile-iconfont"!important;font-size:18px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale;}
.header-wrapper{background-color:#fff;}
.header{width:100%;height:56px;line-height:56px;z-index:111;background-color:#fff;}
.header .logo{height:56px;text-align:center;line-height:0;}
.header .logo a{display:inline-block;}
.header .logo img{height:40px;width:40px;margin-top:8px;}
.logo h1{overflow:hidden;height:0;text-indent:-9999em;}
.header .left-nav{position:absolute;height:56px;line-height:56px;top:0;left:4%;height:auto;}
.left-nav i{font-size:20px;color:#FF0042;cursor:pointer;}
.left-nav-ul{position:relative;z-index:99;background:#fff;border-top:1px solid #e6e6e6;padding-top:10%;}
.left-nav-ul li{width:60%;height:44px;box-sizing:border-box;margin:auto;border-bottom:1px solid #e6e6e6;}
.left-nav-item{width:30px;display:block;float:left;}
.left-nav-item img{margin-top:10px;}
.left-nav-ul li a{width:120px;height:44px;line-height:44px;display:block;font-size:14px;padding:0 0 0 33px;box-sizing:border-box;color:#333;display:block;width:100%;}
.left-nav-ul li a.current{color:#b1b1b1;}
.left-nav-ul li:hover{background-color:rgba(0,0,0,0.1);}
.nav-box{width:100%;background-color:#fff;position:absolute;top:56px;z-index:100;display:none;}
.nav-close{width:10%;margin:10% auto 5%;text-align:center;}
.nav-close i{font-size:32px;}
.left-nav-ul .c999{color:#999;}
.header .right-nav-box{top:56px;width:100%;position:absolute;background-color:#fff;z-index:1000;}
.header .right-nav{position:absolute;height:56px;line-height:56px;right:4%;top:0;}
.header .right-nav i{font-size:24px;}
.right-nav-ul{border-top:1px solid #ddd;background-color:#fff;z-index:999;padding-left:15px;}
.right-nav-ul li{height:47px;line-height:47px;border-bottom:1px solid #ddd;font-size:16px;color:#333;}
.right-nav-ul li i{color:#ff0042;margin-right:10px;}
.right-nav-ul li span{float:right;height:47px;line-height:47px;padding-right:15px;color:#999;}
.right-nav-ul li span i{color:#999;margin-right:0;margin-left:15px;position:relative;top:1px;}
.right-btn-ul{margin-top:30px;}
.right-btn-ul li{float:left;padding:0 5%;width:40%;text-align:center;}
.right-btn-ul li .btn{width:100%;height:44px;line-height:44px;border-radius:4px;font-size:16px;}
.right-nav-close{background-color:#fff;width:10%;margin:10% auto 5%;text-align:center;}
.right-nav-close i{font-size:32px;}
.exit-btn-wrap li{float:none;margin:0 auto;}
.pa{position:absolute;z-index:999;width:100%;}
.noscroll{margin-top:0!important;}
.noscroll,.noscroll body{overflow:hidden!important;height:100%!important;}
.noscroll-long{overflow-y:scroll!important;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.return-header{background-color:#fff;height:56px;line-height:56px;text-align:center;position:relative;}
.return-header h1{font-weight:normal;color:#333;font-size:18px;}
.return-header .return{position:absolute;top:0;left:3%;font-size:24px;cursor:pointer;}
.msg{text-align:center;position:fixed;top:0;left:0;z-index:9999;width:100%;padding-top:46px;*position:absolute;*top:expression(documentElement.scrollTop+"px");}
.msg span{display:inline-block;background-color:#0b8b00;color:#fff;line-height:20px;padding:0 2em;}
.msg span.error{background-color:#ee3123;}
.responsive.header-wrapper .left-nav-ul li{line-height:44px;}
.responsive.header-wrapper .left-nav-item img{margin-top:0;}
.responsive.header-wrapper .right-nav-ul li{color:#6a6a6a;font-size:14px;}
.responsive.header-wrapper .right-btn-ul li{width:50%;}